@font-face {
  font-family: "iconfont"; /* Project id 2936896 */
  src: url('iconfont.woff2?t=1646905500206') format('woff2'),
       url('iconfont.woff?t=1646905500206') format('woff'),
       url('iconfont.ttf?t=1646905500206') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-favorites-fill:before {
  content: "\e721";
}

.icon-good:before {
  content: "\e753";
}

.icon-good-fill:before {
  content: "\e780";
}

.icon-favorites:before {
  content: "\e7b3";
}

.icon-toupiao:before {
  content: "\e61a";
}

.icon-toupiao1:before {
  content: "\e62a";
}

.icon-menu_tptj:before {
  content: "\e657";
}

.icon-menu_tplb:before {
  content: "\e65e";
}

.icon-bi:before {
  content: "\e7c5";
}

.icon-caidan:before {
  content: "\e7c6";
}

.icon-chaxun:before {
  content: "\e7c7";
}

.icon-chehui:before {
  content: "\e7c8";
}

.icon-denglu:before {
  content: "\e7c9";
}

.icon-dui:before {
  content: "\e7ca";
}

.icon-dengchu:before {
  content: "\e7cb";
}

.icon-fenxiang:before {
  content: "\e7cc";
}

.icon-gengduo1:before {
  content: "\e7cd";
}

.icon-fenlei:before {
  content: "\e7ce";
}

.icon-dingwei:before {
  content: "\e7cf";
}

.icon-guanji:before {
  content: "\e7d0";
}

.icon-lingsheng:before {
  content: "\e7d1";
}

.icon-lianjie:before {
  content: "\e7d2";
}

.icon-fanhui:before {
  content: "\e7d3";
}

.icon-liaotian:before {
  content: "\e7d4";
}

.icon-jifen:before {
  content: "\e7d5";
}

.icon-queding:before {
  content: "\e7d6";
}

.icon-shezhi:before {
  content: "\e7d7";
}

.icon-kekan:before {
  content: "\e7d8";
}

.icon-shoujianxiang:before {
  content: "\e7d9";
}

.icon-shuqianshoucang:before {
  content: "\e7da";
}

.icon-taolun:before {
  content: "\e7db";
}

.icon-shoucang:before {
  content: "\e7dc";
}

.icon-tuandui:before {
  content: "\e7dd";
}

.icon-xiaoxi2:before {
  content: "\e7de";
}

.icon-xiangzuo1:before {
  content: "\e7df";
}

.icon-xiangfa:before {
  content: "\e7e0";
}

.icon-xiaoxi:before {
  content: "\e7e1";
}

.icon-yonghu:before {
  content: "\e7e2";
}

.icon-zan:before {
  content: "\e7e3";
}

